.left-side{
    max-width: 400px;
}
.btn-s{
    width: 400px;
}
.avengers{
    border: 1px solid rgba(228, 210, 210, 0.836);
}
.heading-4{
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}
.btn-ave{
    margin-left: 20px;
}
.right-side{
    margin-left: 30px;
}
.img{
    padding: 0;
}
.active-alert{
    padding-right: 320px;
}

.wrap-button{
    display: flex;
    justify-content: space-around;
}
.btn-outline-primary{
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 13px;
    font-weight: 700;
}
.btn-outline-success{
    margin: 0;
    padding: 0;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 700;
}
.btn-outline-danger{
    margin: 0;
    padding: 0;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 700;
}
.final-part{
    margin-left: 253px;
    margin-top: 50px;
}
